.Info {
  text-align: center;
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: rgb(0, 0, 0);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1 {
  font-family:monospace;
}

img {
  max-width: 25vw;
  max-height: 25vw;
  padding-bottom: 0;
  height: auto;
  width: auto; /* ie8 */
}



